*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{
    background:#020617;
    color:white;
}

header{
    text-align:center;
    padding:20px;
    background:#0f172a;
}

.dashboard{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:15px;
    padding:15px;
}

.panel{
    background:#0f172a;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,255,255,0.1);
}

h2{
    margin-bottom:10px;
    font-size:16px;
    color:#38bdf8;
}

/* GRID */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:10px;
}

.small{
    grid-template-columns:repeat(3,1fr);
}

.box{
    background:#1e293b;
    padding:10px;
    text-align:center;
    border-radius:8px;
}

/* CONTENEDORES */
.card{
    background:#1e293b;
    padding:10px;
    border-radius:8px;
    font-size:12px;
}

.progress{
    height:6px;
    background:#334155;
    border-radius:5px;
    margin:5px 0;
}

.fill{
    height:100%;
    background:#22c55e;
}

/* MAPA */
.map{
    height:200px;
    background:#1e293b;
    border-radius:10px;
    position:relative;
    overflow:hidden;
}

/* PUNTOS */
.point{
    width:8px;
    height:8px;
    background:red;
    border-radius:50%;
    position:absolute;
}

/* STATS */
.stats{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
}

.stat{
    background:#1e293b;
    padding:10px;
    border-radius:8px;
    font-size:13px;
}

/* LOG */
.log{
    height:120px;
    overflow:auto;
    font-size:11px;
    background:black;
    padding:10px;
}
